* {
    font-family: 'Poppins', sans-serif;
    list-style: none;
    background-color: #232323;
    color: whitesmoke;
}

.search-results__list {
    position: absolute;
    top: 100%;
    left: 50.8%;
    width: 30%;
    z-index: 1;
    border: 2px solid grey;
}

.search-results__list div {
    border-bottom: 1px solid white;
    padding: 4px 4px;
}

.search-results__list a {
    text-decoration: none;
}

.up {
    border: 3px solid green;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    border: 3px solid red;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.arrow {
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

