* {
    font-family: 'Poppins', sans-serif;
    list-style: none;
    background-color: #232323;
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

.search-results__list {
    width: auto;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #92cd86;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 0.5rem;
    max-height: auto;
    max-width: 400px;
    min-width: 250px;
    overflow-y: hidden;
    position: absolute;
}

.search__result {
    border-left: 3px solid #92cd86;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.search__result:hover {
    border-right: #92cd86 solid 3px;
    text-decoration-color: #92cd86;
}

.up {
    border: 3px solid green;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    border: 3px solid red;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.arrow {
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.scroll-to-top-button * {
    background-color: white;
}

.resolution {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10rem;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #92cd86, rgba(0, 0, 0, 0)) 1 100%;
}

.action-button {
    background-color: #c2fbd7;
    border: 1px solid #92cd86;
    border-radius: 100px;
    box-shadow:
        rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
        rgba(44, 187, 99, 0.15) 0 1px 2px,
        rgba(44, 187, 99, 0.15) 0 2px 4px,
        rgba(44, 187, 99, 0.15) 0 4px 8px,
        rgba(44, 187, 99, 0.15) 0 8px 16px,
        rgba(44, 187, 99, 0.15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.action-button-focused {
    background-color: #63dc8f;
    border: 1px solid #c2fbd7;
}

.action-button:hover {
    box-shadow:
        rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
        rgba(44, 187, 99, 0.25) 0 1px 2px,
        rgba(44, 187, 99, 0.25) 0 2px 4px,
        rgba(44, 187, 99, 0.25) 0 4px 8px,
        rgba(44, 187, 99, 0.25) 0 8px 16px,
        rgba(44, 187, 99, 0.25) 0 16px 32px;
    transform: scale(1.05);
}

@media all and (max-width: 1400px) and (min-width: 700px) {
    .resolution {
        margin-left: 2%;
        margin-right: 2%;
    }
}
